.content {
    padding: 30px 0;
}

.sidebar {
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-bottom: 0;
    padding: 30px 0;
    text-align: center;
    min-height: 100vh;
}
.sidebar hr {
    margin: 8px 0;
}
.sidebar__title {
    margin-bottom: 30px;
}
.sidebar__link {
    display: block;
}

.page-title {
    margin-bottom: 30px;
}
.edit-title {
    margin: 40px 0 20px;
}

.all-posts {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding-top: 15px;
}

.all-posts .post-item {
    margin-bottom: 100px;
    height: 450px;
}
.all-posts .post-item__image {
    margin-bottom: 30px;
}
.all-posts .post-item__image-block {
    margin-bottom: 15px;
    height: 220px;
}
.all-posts .post-item__text {
    margin-bottom: 30px;
    height: 50px;
}
.all-posts .post-item__buttons a {
    width: 100%;
    margin-bottom: 2px;
}

.pagination {
    margin-top: 30px;
    justify-content: center;
}
.page-link {
    color: #17a2b8;
}
.page-link:hover {
    background-color: #6c757d;
    color: #fff;
}
.page-link:focus {
    box-shadow: none;
}
.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
